# Ignorar frontend
front-web/
front-mobile/

# Ignorar pastas ocultas e arquivos de build
.git/
.gitignore
node_modules/
dist/

# Cache e configurações do Maven/IDE
Backend/.mvn/maven.config
Backend/.mvn/.*
Backend/.m2
Backend/.settings
Backend/target

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp
*.swp

# Outros arquivos
render.yaml
Dockerfile
